
/* Estilo bÃ¡sico para o cursor de digitaÃ§Ã£o */
@keyframes typing , blink {
from { width: 0 }
to { width: 100% }
}
  .cursor {
    border-right: 2px solid;
    animation: blink 1s infinite;
  }
  
  /* Estilo para o container */
  #container {
    font-family: monospace;
    font-size: 20px;
    border-right: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(100);
    animation: blink 1s infinite;
    }

  
  /* Estilo para o texto digitado */
  #typed-text {
    font-size: 24px;
    margin-bottom: 20px;
  color: rgb(0, 0, 0);
  }
  #final-image {
    width: 100%;
    height: auto;
  }
/* fIM DO CSS DE TEXTO ANIMADO */
